/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-purple-600
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-purple-500
}

::-webkit-scrollbar-thumb:active {
  @apply bg-purple-700
}