@tailwind base;
@tailwind components;
@tailwind utilities;

/* sizes of cards */
@media (max-width: 320px){
  .ms-local-card{
    max-width: 400px;
  }
}

@media (max-width: 376px){
  @media (min-width: 321px){
    .mm-local-card{
      max-width: 400px;
    }
  }
}

@media (max-width: 426px){
  @media (min-width:376px){
    .ml-local-card{
      max-width: 500px;
    }
  }
}

@media (max-width: 524px){
  @media(min-width: 426px){
    .mt-local-card{
      max-width: 500px;
    }
  }
}

@media (max-width: 768px){
  @media (min-width: 525px){
    .t-local-card{
      max-width: 400px;
    }
  }
}

@media (max-width: 1024px){
  @media (min-width: 769px) {
    .l-local-card{
      max-width: 400px;
    }
  }
}

@media (max-width: 1440px){
  @media (min-width: 1025px) {
    .ll-local-card{
      max-width: 500px;
    }
  }
}
@media (min-width: 1441px){
  .lll-local-card{
    max-width: auto;
  }
}

/* text size */

@media (max-width: 524px){
  .text-card-m{
    font-size: 1rem/* 16px */;
    line-height: 1.5rem/* 24px */;
  }
}

@media (max-width: 599px){
  @media (min-width: 525px){
    .text-card-ml{
      font-size: 0.875rem/* 14px */;
      line-height: 1.25rem/* 20px */;
    }
  }
}

@media (max-width: 849px){
  @media (min-width: 600px){
    .text-card-t{
      font-size: 1rem/* 16px */;
      line-height: 1.5rem/* 24px */;
    }
  }
}

@media (max-width: 874px){
  @media (min-width: 850px){
    .text-card-tl{
      font-size: 0.875rem/* 14px */;
      line-height: 1.25rem/* 20px */;
    }
  }
}

@media (min-width: 874px){
  .text-card-l{
    font-size: 1rem/* 16px */;
    line-height: 1.5rem/* 24px */;
  }
}

body {
  margin: 0;
  font-family: 'Montserrat',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
