.centering-dates{
    margin: 10% 20% 10% 20%;
}

.App-logo {
    pointer-events: none;
    width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
.App-logo {
    animation: App-logo-spin infinite 20s linear;
}
}

@keyframes App-logo-spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}
